<%- include header %>
            <div class="row-fluid">
                <nav class="span2 offset2">
                    <ul class="nav nav-tabs nav-stacked">
                        <% if(locals.user) {%>
                        <li class="disabled"><a href="javascript:;" >欢迎您,<%= locals.user.name %></a></li>
                        <% } %>
                        <li><a href="/">首页</a></li>
                        <% if(locals.user) {%>
                        <li><a href="/post">发言</a></li>
                        <li><a href="/logout">退出</a></li>
                        <% } else { %>
                         <li><a href="/login">登录</a></li>
                        <li><a href="/reg">注册</a></li>
                        <% } %>
                    </ul>
                </nav>
                <article class="span6" id="<%= locals.post._id %>">
                    <h3><%= locals.post.title %></h3>
                    <p><%- locals.post.post %></p>
                    <p class="muted text-right"><%= locals.post.time %> Author: <a href="/u/<%= locals.post.user %>"><%= locals.post.user %></a>
                    <div class="postcomment">
                        <form action="/comment" method="POST" class="form-horizontal">
                            <fieldset>
                                <legend>评论</legend>
                                <input type="text" name="parentId" value="<%= locals.post._id%>" style="display:none;">
                                <label class="" for="author"><input type="text" class="input-xlarge" name="author" required="required" placeholder="Your name here..."/><span class="help-inline">昵称(*)</span></label>
                                <label class="" for="email"><input type="email" required="required" class="input-xlarge" name="email" placeholder="Your Email here..."/><span class="help-inline">邮箱(*)</span></label>
                                <label class="" for="url"><input type="text" class="input-xlarge" name="url" placeholder="Your Website here..."/><span class="help-inline">博客</span></label>
                                <label class=""><textarea name="comment" required="required" class="input-xxlarge" rows="6"></textarea></label>
                                <input type="submit" class="btn btn-primary btn-block" style="width:544px" value="评论" />
                            <fieldset>
                        </form>
                    </div>
                    <% if(locals.comments) {%>
                    <div class="comment">
                            <% locals.comments.forEach(function(comment,index){%>
                            <div id="<%= comment._id%>">
                                <div class="anthor"><%= comment.author %> <span class="email">(<%= comment.email%>)</span> Said</div>
                                <div class="comment">
                                    <p><%= comment.comment %></p>
                                </div>
                                <div class="comtime"><%= comment.time %></div>
                            </div>
                            <%})%>
                    </div>
                    <% } %>
<%- include footer %>