<%- include header %>
            
            <div class="row-fluid">
                <nav class="span2 offset2">
                    <ul class="nav nav-tabs nav-stacked">
                        <% if(locals.user) {%>
                        <li class="disabled"><a href="javascript:;" >欢迎您,<%= locals.user.name %></a></li>
                        <% } %>
                        <li class="active"><a>首页</a></li>
                        <% if(locals.user) {%>
                        <li><a href="/post">发言</a></li>
                        <li><a href="/logout">退出</a></li>
                        <% } else { %>
                         <li><a href="/login">登录</a></li>
                        <li><a href="/reg">注册</a></li>
                        <% } %>
                    </ul>
                </nav>
                <article class="span6">
                    <% locals.posts.forEach(function(post, index){ %>
                    <div>
                        <h3 class=""><a href="/p/<%= post.id %>"><%= post.title %></a></h3>
                        <p class=""><%- post.post %></p>
                        <p class="muted text-right"><%= post.time %> Author: <a href="/u/<%= post.user %>"><%= post.user %></a></p>
                    </div>
                    <hr>
                    <% }) %>  
                <% if(locals.totalPage && locals.totalPage > 1 ) { %>
                <% var start = parseInt(locals.page) - 3 ;var start = start <=0 ? 1 : start; %>
                <!--<%= locals.page %> <%= locals.totalPage %>-->
                <% var total =  parseInt(locals.page) + 3; var end = total >= (locals.totalPage) ? (locals.totalPage) : total; %>
                    <div class="pagination pagination-centered">
                        <ul>
                        <% if (locals.page > 1) {%><li><a href="/page/<%= locals.page - 1%>">&laquo;</a></li><%}%>
                        <% for(var i = start;i<= end;i++) {%>
                        <li class="<%if(i == locals.page) {%>active disabled<%} else {%><%}%>"><a href="/page/<%= i %>"><%= i %></a></li>
                        <%}%>
                        <% if (locals.page < end) {%><li><a href="/page/<%= parseInt(locals.page) + 1%>">&raquo;</a></li><%}%>
                        </ul>
                    </div>
                <% } %>  
<%- include footer %>