<%- include header %>
            
            <div class="row-fluid">
                <nav class="span2 offset2">
                    <ul class="nav nav-tabs nav-stacked">
                        <% if(locals.user) {%>
                        <li class="disabled"><a href="javascript:;" >欢迎您,<%= locals.user.name %></a></li>
                        <% } %>
                        <li><a href="/">首页</a></li>
                        <% if(locals.user) {%>
                        <li><a href="/post">发言</a></li>
                        <li><a href="/logout">退出</a></li>
                        <% } else { %>
                         <li><a href="/login">登录</a></li>
                        <li class="active"><a>注册</a></li>
                        <% } %>
                    </ul>
                </nav>
                <article class="span6">
                    <form method="post" action="/reg<% if (locals.redirect) {%>/?redirect=<%= locals.redirect %><%}%>" class="form-horizontal">
                        <fieldset>
                            <legend>注册</legend>
                            <div class="control-group">
                                <label class="control-label" for="username">用户名(*)：</label>
                                <div class="control">
                                    <input type="text" name="username" value="<%= locals.username || '' %>"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="email">邮箱(*)：</label>
                                <div  class="control">
                                    <input type="email" name="email" value="<%= locals.email || '' %>"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="password">密码(*)：</label>
                                <div  class="control">
                                    <input type="password" name="password" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="password-repeat">确认密码(*)：</label>
                                <div class="control">
                                    <input type="password" name="password-repeat" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="url">博客(选填)：</label>
                                <div  class="control">
                                    <input type="url" name="url" value="<%= locals.url || '' %>"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label"></label>
                                <div class="control">
                                    <button type="submit" class="btn btn-primary">注册</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
<%- include footer %>