<%- include header %>
            
            <div class="row">
                <nav class="span2 offset2">
                    <ul class="nav nav-tabs nav-stacked">
                        <% if(locals.user) {%>
                        <li class="disabled"><a href="javascript:;" >欢迎您,<%= locals.user.name %></a></li>
                        <% } %>
                        <li class="active"><a href="/">首页</a></li>
                        <% if(locals.user) {%>
                        <li><a href="/post">发言</a></li>
                        <li><a href="/logout">退出</a></li>
                        <% } else { %>
                         <li><a href="/login">登录</a></li>
                        <li><a href="/reg">注册</a></li>
                        <% } %>
                    </ul>
                </nav>
                <article class="span6">
                <% locals.posts.forEach(function(post, index){ %>
                    <div>
                        <h3 class=""><a href="/<%= post.user %>/<%= post.time %>/<%= post.title %>"><%= post.title %></a></h2>
                        <p class=""><%- post.post %></p>
                        <p class="muted text-right"><%= post.time %> by:<a href="/u/<%= post.user %>"><%= post.user %></a></p>
                    </div>
                <% }) %>
                </article>
            </div>
        </div><!--container-->
    </body>
</html>